<div class="container">
  <div class="row">
      <div class="col-sm-6 blog-main">
<p>sakldjslkadjlsajdaljl</p>
      </div>
      <!-- Side Bar -->
      <div class="image-about">
        <img src="assets/images/about.jpg" alt="fox" style="width: 80%" style="margin-bottom: 1rem">
      </div>


    </div><!-- /.row -->
  </div><!-- /.container -->
