<div class="container">
  <div class="row">
      <div class="col-sm-8 blog-main">
        <h3>Voici mon secret.</h3>
        <h3>Il est très simple: on ne voit bien qu'avec le cœur. L'essentiel est invisible pour les yeux.</h3>
      </div>
      <div class="image-about">
        <img src="assets/images/about.jpg" alt="fox" style="width: 80%" style="margin-bottom: 1rem">
      </div>


    </div><!-- /.row -->
  </div><!-- /.container -->
