<div class="container">
  <div class="row">
      <div class="col-sm-8 blog-main">
        {{#each model as |question|}}
          <div class="blog-post">
            <h3 class="post-title">{{question.title}}</h3>
            <p class="blog-post-meta">{{question.author}} {{question.date}}</p>
            {{#link-to 'question' question.id}}Read More{{/link-to}}
          </div>
        {{/each}}
      </div>
      <!-- Side Bar -->
      <div class="col-sm-3 offset-sm-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
          <h4>About</h4>
          <p>Ce qui embellit le désert, c'est qu'il cache un puits quelque part...</p>
        </div>
        <br>
        {{new-question saveQuestion="saveQuestion"}}


      </div><!-- /.blog-sidebar -->
    </div><!-- /.row -->
  </div><!-- /.container -->
